:root{
    font-size: 16px;
}
body{
    background-color: #ededed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}

.imageLimit{
    width: 1000px;
    height: 600px;

}
.card-img-top{
    width: 100%;
    height: 11vw; 
    object-fit: cover;
}
.noDec{
    text-decoration: none;
}
.navbar{
    background-color: rgb(35,53,101);
    padding: 1.0rem;
}

.nav-link{
    color: rgb(236, 236, 236);

}

.nav-link:hover{
    color: rgb(187, 187, 187);
}
.separator{
    padding-top: 9rem;
    min-height: 46.5rem;
}
.scrolledNavbar{
    opacity: 90%;
    transition: 0.8;
}
.article-ele{
    padding: 2.0rem;
    text-align: center;
}
.category-pad{
    padding: 2.0rem;
}
.logoScrolled{
    height: 4.2rem;
    width: 8.1rem;

}
.logo{
    height: 5.5rem;
    width: 10.4rem;
}
.navPadder{
    padding: 2.0rem;
}
.textAuth{
     color: #5f5f5f;
}
.searchBar{
    padding-top: 1.0rem;
}
.footer{
    background-color: rgb(35,53,101) ;
    color:  rgb(236, 236, 236);
    height: 10.8rem;
    margin-top: 3rem;
    }
.separatorFooter{
    padding: 1.5rem;
    padding-bottom: 0rem;
}
.logoFooter{
    height: 7.2rem;
    width: 13rem;
}
.logoPadder{
    padding-top: 2.0rem;
}
.underline{
    text-decoration: underline;
}
.centerLogo{
    position: absolute;
    left: 50%;
    margin-left: -91px !important;
    display: block;
}
.centerLogoSmall{
    position: absolute;
    left: 50%;
    margin-left: -72.5px !important;
    display: block;
}
.authPadderLogin{
    padding-bottom: 17.12rem;
}
.authPadderReg{
   padding-bottom: 4.9rem; 
}
.buttonCard{
    color:rgb(251, 250, 250) ;
    background-color: rgb(87, 126, 235);
}
.buttonCard:hover{
    color: rgb(206, 206, 206); ;
    background-color: rgb(62, 94, 180);
}
.showCard{
    background-color: rgb(251, 250, 250);
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 0px;
    border: none;
}
.showImg{
    width: 100%;
    height: 40vw;  
    object-fit: cover;
    border-radius: 0px;
}
.showIn{
    width: 80% ;
    margin-left: 7rem;
    margin-right: 7rem;
}
.cardEleH{
    min-height: 2.34rem;
}
.cardEleH2{
    min-height: 2.97rem;
}


